body{
background:#111;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Tahoma;
}

.login-box{
background:#1d1d1d;
padding:35px;
width:360px;
border-radius:15px;
border:2px solid gold;
text-align:center;
}

.logo{
width:120px;
margin-bottom:20px;
}

h2{
color:gold;
margin-bottom:25px;
}

input{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:14px;
background:gold;
border:none;
font-size:18px;
font-weight:bold;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#ffd700;
}

#message{
margin-top:15px;
color:#ff6666;
}
